---
// Script del componente (JavaScript)
import './navbar.css'
---
<!-- Maquetado del componente (HTML + Expresiones JS) -->
<header> 
  <nav class="navbar">
    <p>sebastian asprino.</p>
    <ul>
      <li>inicio.</li>
      <li>sobre mi.</li>
      <li>contacto.</li>
    </ul>
  </nav>
<header/>


