---
// Script del componente (JavaScript)
import './navbar.css'
---
<!-- Maquetado del componente (HTML + Expresiones JS) -->
<header class="navigation w-nav"> 
  <nav class="navbar">
    <p class="text">sebastian asprino.</p>
    <ul>
      <li class="text">inicio.</li>
      <li class="text">sobre mi.</li>
      <li class="text">contacto.</li>
    </ul>
  </nav>
<header/>


