/* @font-face {
  font-family: 'MonaspaceNeon';
  src: url('fonts/MonaspaceNeonVarVF[wght,wdth,slnt].ttf') format('truetype');
} */



* {
  background-color: #000000;
  font-family: 'MonaspaceNeon', 'Sofia Sans Condensed';
  font-variation-settings: 'wght' 400, 'wdth' 100;
  color: #cfcfea;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
  margin: 0;


}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
} */

/* 
Profesionalismo y confianza:
Azul Marino: #0B3C5D (color usado modo oscuro)
Azul Real: #4169E1 (color usado modo oscuro)
Azul Medianoche: #191970 (usar modo claro)

Autoridad y poder:

Azul Pizarra: #4682B4 (posible usar)
Azul Imperial: #005A9C
Azul Cobalto: #0047AB(usar) */