@font-face {
  font-family: 'MonaspaceNeon';
  src: url('assets/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].ttf') format('truetype');
}



* {
  background-color: #000000;
  font-family: 'MonaspaceNeon', 'Sofia Sans Condensed';
  font-variation-settings: 'wght' 400, 'wdth' 100;
  color: #cfcfea;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
  margin: 0;


}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}