---
import Intro from "./main_components/intro.astro"
import Proyecto from "./main_components/proyecto.astro"
import Descripcion from "./main_components/descripcion.astro"
import Logos from "./main_components/logos.astro"
import Educacion from "./main_components/educacion.astro"
---

<style>

  main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  }
  
</style>

<main>
  <Intro/>
  <Proyecto/>
  <Descripcion/>
  <section>
    <Logos/>
    <Educacion/>
  </section>
</main>