<style>

  .educacion {
    background-color: #1f1f1fFF;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    border-radius: 38px;
    margin-right: 10px;
    margin-top: -120px;  
  }

  .educacion h1 {
    background-color: #1f1f1fFF;
    padding-top: 10px;
    text-align: start;
    font-size: 40px;
  }

  .educacion p {
    background-color: #1f1f1fFF;
    padding-top: 10px;
    text-align: start;
    font-size: 30px;
    line-height: 1.8;
  }

</style>

<section class="educacion">
  <h1> Educacion</h1>
  <p>
    Universidad del Norte 2020<br>
    SoyHenry 2023<br>
    Egg 2023<br>
    FreeCodeCamp
  </p>
</section>