---
import Image from "astro/components/Image.astro"
---
<style>

  .intro {
    background-color: #1f1f1fFF;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    border-radius: 38px;
    margin-left: 10px;
  }

  .intro a{
    background-color: #1f1f1fFF;
    padding-top: 10px;
    text-align: start;
    font-size: 43px;
    text-decoration: none;
  }

  .intro a:hover{
    color: #bf0000;
  }

  .pfp {
    max-width: 90px;
    border-radius: 50px;
  }

  .intro p {
    background-color: #1f1f1fFF;
    padding-top: 10px;
    text-align: start;
    font-size: 43px;
  }

</style>

<section class="intro">
  <img class="pfp" src="/pfp.png" alt="mi foto de perfil procesada por IA" loading="lazy" />
  <p>
    Soy un ingeniero de sistemas y Fullstack y co-fundador de 
    <a href="https://www.undercodes.net">undercodes.</a>
  </p>
</section>