---
import NavBar from '../components/navbar/navbar.astro'

import '../styles/pages/index/index.css'
---
<html lang="es">
	<head>
		<meta charset="utf-8"/>
    <link rel="preload" href="assets/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].ttf" as="font" type="font/ttf" crossorigin="anonymous">
		<title>Portafolio</title>
	</head>
	<body>
    <NavBar/>




    <main>
      <section id="texto con mi foto">
        <img src="" alt="" srcset="">
        <p>Soy un ingeniero de sistemas y fullstack
          actualmente trabajando en undercodes.</p>

      </section>
      <section id="proyecto en mente?">
        <img src="" alt="" sizes="" srcset="">
        <p>Tienes un proyecto en mente?</p>
        <button>asprinosebastian@proton.me</button>

      </section>
      <section id="texto largo">
        <p>Como desarrollador full stack,
          Mi enfoque está en construir experiencias digitales completas e intuitivas para productos en línea. Creo firmemente que un código eficiente comienza con una sólida arquitectura, comunicación transparente y consideración por el usuario final.</p>

      </section>
      <section id="logos">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </section>     
      <section id="educacion">

      </section>
      <section id="experiencia">

      </section>
    </main>
    <footer>
      <p>sebastian asprino.
        all rights reserved. © 2023</p>
    </footer>
  </body>
  </html>


  <!-- <link rel="preload" href="/Assets/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2" as="font" type="font/woff2" crossorigin="anonymous"> -->