---
import NavBar from "../components/navbar/navbar.astro";
import Main from "../components/main/main.astro"

import "../styles/pages/index/index.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link
      rel="preload"
      href="assets/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <title>Portafolio</title>
  </head>
  <body>
    <NavBar />
    <Main/>
    
    <!-- <footer>
      <p>sebastian asprino. all rights reserved. © 2023</p>
    </footer> -->
  </body>
</html>

<!-- <link rel="preload" href="/Assets/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2" as="font" type="font/woff2" crossorigin="anonymous"> -->
