---
import './navbar.css'
---
<header>
  <nav>
    <p>Sebastian Asprino.</p>
    <ul>
      <li><a rel="canonical" href="/">inicio.</a></li>
      <li><a href="/test/test">sobre mi.</a></li>
      <li><a href="/prueba">contacto.</a></li>
    </ul>
  </nav>
</header>