---
import './navbar.css'
---
<header>
  <nav>
    <p>Sebastian Asprino.</p>
    <ul>
      <li class="text"><a href="https://asprino.tech">inicio.</a></li>
      <li class="text"><a href="/">sobre mi.</a></li>
      <li class="text"><a href="/">contacto.</a></li>
    </ul>
  </nav>
</header>