<style>

  footer{
    margin: 10px;
    padding: 10px;
    background-color: #1f1f1fFF;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    border-radius: 38px;
  }

  footer p{
    margin-inline-start: 10px;
    padding-left: 10PX;
    padding-right: 10PX;
    padding-top: 6px;
    background-color: #1f1f1fFF;
  }

</style>

<footer>
  <p>Sebastian Asprino. </p>
  <p>all rights reserved. © 2024</p>
</footer>