---
import Card from "./card/card.astro"
import GawrGura from "./pictures/052507.png";
import Animeparadise from "./pictures/animeparadise.png"
import Egg from "./pictures/egg.png"
import Pokemon from "./pictures/pokemon.png"
---

<style>

  .experience{
    background-color: #1f1f1fFF;
    padding: 40px;
    border-radius: 38px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    
}


</style>

<section class="experience">
  

  <Card image={GawrGura} title="Garw Gura Player" date="2022" alt="Reproductor de musica proyecto POO Universidad del norte"/>

  <Card image={Pokemon} title="Poke App" date="2023" alt="Proyecto final de SOYHENRY"/>

  <Card image={Animeparadise} title="AnimeParadise" date="2023" alt="Pagina de reproduccion de anime"/>

  <Card image={Egg} title="EGG" date="2023" alt="Proyecto final de egg.live"/>

</section>