---
// import Navbar from '../../component/Navbar/NavBar.astro'
// import Footer from '../../component/Footer/Footer.astro'
// import MyInfo from '../../component/Myinfo/Myinfo.astro'

import '../../styles/pages/test/test.css'

---




<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Portafolio</title>
	</head>
	<body>
		<main>
			<!-- <nav class="navMenu">
      <a href="#">Home</a>
      <a href="#">Blog</a>
      <a href="#">Work</a>
      <a href="#">About</a>
      <div class="dot"></div>
    	</nav> -->

			<nav>
				<a href="#">HOME</a>
				<a href="#">CODING</a>
				<a href="#">GUITAR</a>
				<div id="indicator"></div>
			</nav>
		</main>
	</body>
</html>